In [6]:
from math import sqrt
def test(n):
        x = sqrt(n * (n + 1) / 2)
        
        if x % 1 != 0:
            return -1
        else:
            return int(x)

In [9]:
print(test(4))

-1

In [10]:
n=8
x = sqrt(n * (n + 1) / 2)
x

6.0

In [11]:
9/2

4.5

In [1]:
x='pawan'
x.capitalize()

'Pawan'

In [2]:
import pandas as pd

In [21]:
df=pd.read_csv('G:/Coding/Git Uploads/Project/Crop Predictions/main.csv')
print((df['item'].unique()))
y=df['area'].unique()
# type(x
print(y)

['Maize' 'Potatoes' 'Rice, paddy' 'Sorghum' 'Soybeans' 'Wheat' 'Cassava'
 'Sweet potatoes' 'Plantains and others' 'Yams']
['Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Belarus' 'Belgium'
 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cameroon'
 'Canada' 'Central African Republic' 'Chile' 'Colombia' 'Croatia'
 'Denmark' 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Eritrea'
 'Estonia' 'Finland' 'France' 'Germany' 'Ghana' 'Greece' 'Guatemala'
 'Guinea' 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'India' 'Indonesia' 'Iraq'
 'Ireland' 'Italy' 'Jamaica' 'Japan' 'Kazakhstan' 'Kenya' 'Latvia'
 'Lebanon' 'Lesotho' 'Libya' 'Lithuania' 'Madagascar' 'Malawi' 'Malaysia'
 'Mali' 'Mauritania' 'Mauritius' 'Mexico' 'Montenegro' 'Morocco'
 'Mozambique' 'Namibia' 'Nepal' 'Netherlands' 'New Zealand' 'Nicaragua'
 'Niger' 'Norway' 'Pakistan' 'Papua New Guinea' 'Peru' 'Poland' 'Portugal'
 'Qatar' 'Romania' 'Rwanda' 'Saudi Arabia' 'Senegal' 'Slovenia'
 'South Africa' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Tajikistan' 'Thailand' 'Tunisia' 'Turkey' 'Uganda'
 'Ukraine' 'United Kingdom' 'Uruguay' 'Zambia' 'Zimbabwe']

In [23]:
df1=pd.read_csv('G:/Coding/Git Uploads/Project/Crop Predictions/test.csv')
df1

,average_rainfall,presticides_tonnes,avg_temp,Country_Albania,Country_Algeria,Country_Angola,Country_Argentina,Country_Armenia,Country_Australia,Country_Austria,...,Item_Cassava,Item_Maize,Item_Plantains and others,Item_Potatoes,"Item_Rice, paddy",Item_Sorghum,Item_Soybeans,Item_Sweet potatoes,Item_Wheat,Item_Yams
0,1485,121.00,16.37,True,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,1485,121.00,16.37,True,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
2,1485,121.00,16.37,True,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
3,1485,121.00,16.37,True,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
4,1485,121.00,16.37,True,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28237,657,2550.07,19.76,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
28238,657,2550.07,19.76,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
28239,657,2550.07,19.76,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
28240,657,2550.07,19.76,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
28241,657,2550.07,19.76,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [13]:
z=df['item'].values

In [15]:
type(z)

numpy.ndarray

In [36]:
from functools import*
x=[1,2,3,4]
p=x.copy()
z=[]
for i in x:
    p.remove(i)
    z.append(reduce(lambda x,y: x*y,p))
    p=x.copy()
z

[24, 12, 8, 6]

In [29]:
r=x.copy()
r

[1, 2, 3, 4]

In [2]:
a=2
b=3
p=a*b**2

In [3]:
p

18